* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.sketchpad {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
    border: 15px solid red;
}

.row {
    width: 100%;
    display: flex;
}

.pixel {
    width: 100%;
    aspect-ratio: 1/1;
}

.new-grid {
    width: auto;
    align-self: center;
}